(basic-auth) {
       basicauth /* {
           {$ADMIN_USER} {$ADMIN_PASSWORD}
       }
}

iptc:9090 {
    import basic-auth
    reverse_proxy prometheus:9090
    tls internal
}

:9093 {
    import basic-auth
    reverse_proxy alertmanager:9093
    tls internal
}

:9091 {
    import basic-auth
    reverse_proxy pushgateway:9091
    tls internal
}

itpc:3000 {
    import basic-auth
    reverse_proxy grafana:3000
    tls internal
}
